.red {
color: red
}

.black {
color: black
}


.divider {
    margin: 20px 0 20px 0
}

.bold {
    font-weight: bold
}

.body {
    display:flex;
    flex-direction: column
}
.main {
    display:flex;
    background-color:blue;
}
.sidebar{
    background-color:yellow;
    height:calc(100vh - 56px);
    width: 30vw;
    max-width:40vw;
    min-width: 200px;
    overflow:scroll;
}

.content{
    display:flex;
    flex-direction: column;
    background-color:pink;
    width:70vw;
    max-width:80vw;
    min-width: 60vw;
    max-height: calc(100vh - 56px);
    overflow:scroll;

}

.chatContent {
    position: relative;
    flex-grow: 1;
    background-color:green;
    max-height: calc(100vh - 56px);
    overflow:scroll;
}

.chatInput{
    /* align-self: flex-end; */
}
.mynav{
    width: 100vw;
    height: 56px;
}